.login-container{
    background-color:white;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-input{
    display: block;
    height: 38px;
    line-height: 38px;
    width: 410px;
    font-size: 18px;
}

.login-button {
    background-color: #e6e6e6;
    border-radius: 0px;
    border: 0px;
    height: 38px;
    line-height: 38px;
    width: 410px;
}

.forgot-password{
    font-size: 12px;
}

.sign-in-container{
    font-size: 14px;
}

.sign-in-href{
    color: blue;
    text-decoration: underline;
}