.landing{
    width: 90%;
}

.landing__button{
    width: 165px;
    margin: 25px 0 40px 0;
    background-color: #E6E6E6;
}

@media screen and (max-aspect-ratio: 1/1) {
    p{
        font-size: 40px;
    }

    .landing__button{
        width: 100px;
    }
}