.header{
    display: block;
    top: 0;
    left: 0;
    width: 100%;
}

.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}

.header__img{
    color: white;
    height: 38px;
}

.header__nav{
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 20px;
}

.header__link{
    font-size: 18px;
}

.header__link:active {
    color: #e6e6e6;
} 

.header__link:hover, 
.header__link:focus{
    opacity: 75%;
}

.header__img:hover,
.header__img:focus {
    opacity: 75%;
}

@media screen and (max-aspect-ratio: 1/1) {
    .header__nav{
        column-gap: 10px;
    }

    .header__link{
        height: 25px;
        line-height: 25px;
        width: 50px;
        font-size: 14px;
    }
}